<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995182892958-ceg7an1p6qgdh6rsco5mdikr5vaveccv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995182892958-ceg7an1p6qgdh6rsco5mdikr5vaveccv</string>
	<key>API_KEY</key>
	<string>AIzaSyBmfllbG0kqNLvsMubGhSGNGQa5_keAxCE</string>
	<key>GCM_SENDER_ID</key>
	<string>995182892958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdscClient</string>
	<key>PROJECT_ID</key>
	<string>gdsc-client</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995182892958:ios:7983cacf994b9a28b1288f</string>
</dict>
</plist>